body{
    margin: 0;
    padding: 0;
    display: flex;
   
    min-height: 100vh;
    background-color:  hsl(30, 38%, 92%);
}
.container{
    border: 1px solid rgba(0, 0, 0, 0.055);
    max-width: 375px;
    width: 100%;
    margin: 15% 10%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color:  hsl(0, 0%, 100%);
    box-shadow: 3px 3px 3px rgba(245, 222, 179, 0);
}
.MyImg img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.section{
    padding-left: 1.35em;
    padding-right: 1em;
}
.section h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color:  hsla(228, 12%, 48%, 0.444);
    font-size: 0.8rem;
}
.section h1{
    font-family: "Fraunces", serif;
    text-transform: capitalize;
    font-size: 1.55rem;
}
.section p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  hsla(228, 12%, 48%, 0.444);
    font-size: 0.9rem;
}
.section span{
    text-transform: uppercase;
}
.section .prix{
    font-size: 0.8rem;
    font-weight: bolder;
    color: hsla(228, 12%, 48%, 0.444);
}
.section .prix span{
    font-weight: bold;
    font-size: 1.55rem;
    color:  hsl(158, 36%, 37%);
}
#MyButton{
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    background-color: hsla(158, 36%, 37%, 0.868);
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border: none;
    border-radius: 12px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.5em;
}
.Bouton{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 0.1em;
}
@media screen and (min-width: 768px){
    body{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    .container{
        display: flex;
        flex-direction: row;
        max-width: 500px;
        width: 100%;
    }
    .MyImg,.section{
        width: 50%;
    }
    .MyImg img{
        height: 410px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
    .section h1{
        font-size: 1.88rem;
    }
    #MyButton{
        font-size: 0.65rem;
        margin-top: 2.5em;
    }
    .section .prix{
        margin-top: 1.5rem;
    }
}